#code_links_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.thumbnail_wrapper {
    border: 1px solid grey;
    padding: 1rem;
    margin: 1rem;
}

.thumbnail_wrapper > a {
    text-decoration: none;
    color: inherit;
}

.thumbnail_wrapper > a:visited {
    color: inherit;
}
.thumbnail_wrapper:hover {
    background-color: black;
    color: white;
}

.thumbnail_image {
    width: 100%;
    max-width: 20rem;
}

.thumbnal_heading {
    font-size: 1.2rem;
    text-align: center;
}
